body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 40px;
}
    
.top-banner{
    background-image:url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 45%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700px;
   
}
.mid-banner{
    background-image:url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    color: orange;
}
.experience{
    background-image:url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.experience-item{
    box-shadow: 10px 5px 30px gray;
    border-radius: 5px;
    width: 40%;
    padding-left: 20px;
    margin-left:5%;
    margin-right: 5%;
    
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;

}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}

footer{
    text-align: center;
    background-color:slategray;
    color: white;
}

